header {
    display: flex; /* Define o elemento como um contêiner flexível */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 20px; /* Adiciona preenchimento ao redor do cabeçalho */
}

header h1 {
    font-size: 3em; /* Define o tamanho da fonte */
    margin: 20px 0; /* Adiciona margens acima e abaixo */
}

nav ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Define o elemento como um contêiner flexível */
    gap: 20px; /* Adiciona espaço entre os itens */
}

nav ul li a {
    text-decoration: none; /* Remove a sublinhado dos links */
    color: var(--text-color); /* Define a cor do texto */
    font-weight: bold; /* Define o peso da fonte como negrito */
    padding: 10px; /* Adiciona preenchimento interno aos links */
}

.profile-photo {
    height: 200px;
    width: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto 40px;
    border: #F97B22 solid 3px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    animation: profile-move 4s infinite alternate;
}

@keyframes profile-move {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.area-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.area-button {
    padding: 15px 30px;
    background-color: var(--highlight-color);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.area-button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 8px var(--box-shadow-color);
}
